body {
    margin: 0;
    font-family: Roboto;
}

header {
    height: 70px;
    color: #ffffff;
    background-color: #3b5998;
    padding-top: 10px;
}

.login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 190px;
}

#logo {
    font-weight: 900;
    font-size: 35px;
    letter-spacing: 0.5px;
    padding-top: 15px;
}

#logo:hover {
    cursor: pointer;
}

table {
    text-align-last: left;
    font-size: 12px;
}

table input {
   margin-right:  10px;
}

a.forgot {
    color: #ffffff;
    text-decoration: none;
}


a.forgot:hover {
    text-decoration: underline;
}

.login-btn {
    color: #ffffff;
    background-color: #506081;
    border: 1px solid #413A3A;
    padding: 3px;
    margin: 0;
}

.login-btn:hover {
    background-color: #3b5998;
}
